assets/backup25dec2025/DEMO_Port_RealEstate_Inquiry_Assistant.json
{
  "name": "DEMO_Port_RealEstate_Inquiry_Assistant",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "senderId",
              "name": "senderId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "senderMessage",
              "name": "senderMessage",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "a2b88dbf-c835-4a6d-8c20-15901d6fdef6",
              "name": "agentName",
              "value": "melvin",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Normalize_Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        208
      ],
      "id": "d090d951-b62f-489a-9c88-d99c5811c586"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1dbafa42-11a9-4634-a9ec-bcf8823b089a",
              "leftValue": "={{ $('From Melvin Portfolio').item.json.chatInput }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        736,
        208
      ],
      "id": "cd6387e0-d8dd-4c5a-afd2-e80b916d619b",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "// --- Read data from previous node ---\nconst rawMessage = $('Parse_state_file').first().json.senderMessage || '';\nconst senderId = $('Parse_state_file').first().json.senderId;\n\n\n// --- Load allStates from Read_State_File ---\nlet allStates = $('Parse_state_file').first().json.userAllStates;\n\n// --- Load current state or initialize ---\nlet state = allStates || {\n    stage: 'start',\n    name: '',\n    phone: '',\n    email: '',\n    filters: {\n        Property_Type: null,\n        Budget: null,\n        Location: null\n    },\n    conversation: [] // store conversation history\n};\n\n\n// --- Normalize message ---\nconst msg = rawMessage.toLowerCase();\n\n// --- Add user message to conversation ---\nstate.conversation.push({ from: 'user', message: rawMessage, timestamp: new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" }) });\n\n// --- Extract Property Filters (property type, location, budget) ---\nconst propertyTypeMatch = msg.match(/\\b(condo|house|lot|apartment|room|studio)\\b/);\n\nif (propertyTypeMatch) state.filters.Property_Type = propertyTypeMatch[0];\n\n// --- Extract location ---\nconst cities = ['makati','taguig','qc','quezon city','manila','pasig','muntinlupa','paranaque','las pinas'];\nconst locationMatch = msg.match(/in\\s+([a-zA-Z\\s]{3,30})/);\n\nif (locationMatch) {\n    const location = locationMatch[1].trim().toLowerCase();\n  \n    for (const c of cities) {\n      \n        if (location.includes(c)) {\n            state.filters.Location = c.replace(/\\b(qc)\\b/, 'Quezon City');\n            break;\n        }\n    }\n}\n\n// Budget (capture ₱ or numbers + k)\nconst budgetMatch = msg.match(/\\b(?!09\\d{8,10})(?:₱?\\s*\\d{1,6}k?|\\d{1,3}k\\/month|\\d{1,6}\\/month)\\b/i);\n\nif (budgetMatch) {\n    let val = budgetMatch[0].replace(/[^0-9]/g, '');\n  \n    if (/k/i.test(budgetMatch[0])) val *= 1000;\n    state.filters.Budget = Number(val);\n}\n\n// --- AUTO LEAD PARSER (name + phone + email in one message) ---\nconst emailMatch = rawMessage.match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\nconst phoneMatch = rawMessage.match(/(\\+?\\d[\\d\\s\\-]{7,15})/);\nconst nameMatch = rawMessage.match(/[a-zA-Z]+(?:\\s+[a-zA-Z]+)+/); // at least 2 words\n\nif (nameMatch && phoneMatch && emailMatch) {\n    state.name = nameMatch[0].trim();\n    state.phone = phoneMatch[0].replace(/[^0-9+]/g, '');\n    state.email = emailMatch[0].trim();\n    state.stage = \"ready_for_ai\";    \n    allStates = state;\n    \n}\n\n// --- High-intent check ---\nconst highIntent = /\\b(rent|buy|for sale|price|available|looking|hm|magkano|how much)\\b/.test(msg);\n\n// --- Greetings / low-intent ---\nif (!highIntent) {\n    let botReply = null;\n  \n    if (msg === 'hi' || msg === 'hello' || msg === 'kumusta' || msg === 'musta') botReply = 'Hi! Thanks for reaching out! How can I help you today?';\n  \n    if (msg === 'thank' || msg === 'thanks' || msg === 'thank you' || msg === 'salamat') botReply = \"You're welcome! Anything else I can help with?\";\n  \n    if (msg === 'talk to agent') botReply = \"Sure po! I’ll connect you to my agent. Saglit lang po...\";\n  \n    if (/activate_ai/.test(msg)) botReply = \"AI assistant activated. Hello po! I'm Neriza. How can I assist you today? Just let me know. Happy to assist! 💛\";\n  \n    if (msg === 'delete') botReply = \"Request for deleting information. Can you give your name?\";\n\n    if (botReply) {\n        state.stage = botReply.includes('Hi') \n          ? 'greeting'\n          : botReply.includes('connect')\n          ? 'stop_ai'\n          : botReply.includes('activated')\n          ? 'ai_activated'\n          : botReply.includes('deleting')\n          ? 'collect_name'\n          : 'thanks';\n      \n        state.conversation.push({ from: 'bot', message: botReply, timestamp: new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" }) });\n        allStates = state;\n      \n        return [{ json: { stage: state.stage, reply: botReply, allStates, senderId,  } }];\n    }\n  \n}\n\n// --- Lead capture flow ---\nif (state.stage === 'collect_name') {\n    state.name = msg.trim();\n    state.stage = 'delete';\n  \n    const botReply = `Thanks ${state.name}! AI assistant, deleting your information.`;\n    state.conversation.push({ from: 'bot', message: botReply, timestamp: new Date().toISOString() });\n    allStates = state;\n  \n    return [{ json: { stage: state.stage, reply: botReply, allStates, senderId, name: state.name } }];\n}\n\nif (state.stage === 'collect_phone') {\n    const phone = msg.replace(/[^0-9+]/g, '');\n  \n    if (phone.length < 7 || phone.length > 11) {\n        const botReply = \"Hi! 😊 It seems the phone number you gave might be incorrect. Could you please share your full phone number?\";\n      \n        state.conversation.push({ from: 'bot', message: botReply, timestamp: new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" }) });\n        allStates = state;\n      \n        return [{ json: { stage: state.stage, reply: botReply, allStates, senderId,  } }];\n    }\n\n    state.phone = phone;\n    state.stage = 'ready_for_ai';\n  \n    const botReply = 'Thanks! Can I get your name and email as well? It would be helpful if you want me to send the listings.';  \n    state.conversation.push({ from: 'bot', message: botReply, timestamp: new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" }) });\n\n    \n    allStates = state;\n  \n    return [{ json: { stage:  state.stage, reply: botReply, allStates, senderId } }];\n}\n\n// if (state.stage === 'collect_email_or_ready') {\n  \n//     if (emailMatch) state.email = emailMatch[0];\n//     state.stage = 'ready_for_ai';\n//     allStates = state;    \n// }\n\n// --- Start high-intent flow ---\nif (highIntent && state.stage === \"start\") {\n    // Only ask for name AFTER filters are parsed\n    const filtersCollected = state.filters.Property_Type && state.filters.Location && state.filters.Budget;\n  \n    if (filtersCollected) {\n        state.stage = 'collect_phone';\n      \n        const botReply = `Thanks for reaching out! I see you are looking for a ${state.filters.Property_Type} in ${state.filters.Location} with budget ${state.filters.Budget}. May I have your phone number? This helps me contact you quickly and update you faster.`;\n      \n        state.conversation.push({ from: 'bot', message: botReply, timestamp: new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" }) });\n        allStates = state;\n      \n        return [{ json: { stage: state.stage, reply: botReply, allStates, senderId,  } }];\n    } else {\n        state.stage = 'collect_phone';\n      \n        const botReply = 'Thanks for reaching out! May I have your phone number? This helps me contact you quickly and update you faster.';\n      \n        state.conversation.push({ from: 'bot', message: botReply, timestamp: new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" }) });\n        allStates = state;\n      \n        return [{ json: { stage: state.stage, reply: botReply, allStates, senderId,  } }];\n    }\n}\n\n// --- Default: AI response ---\nstate.stage = 'ai';\nallStates = state;\n\nreturn [{ json: { stage: state.stage, senderMessage: rawMessage, allStates, senderId,  } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        192
      ],
      "id": "7aa3b2db-e64a-40b7-8c81-9587b2aa4dd5",
      "name": "State Manager"
    },
    {
      "parameters": {
        "url": "=https://drive.google.com/uc?export=download&id=1mslATmMKb_hUJN7WCiXrEBdoq1UREkwI\n\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1184,
        208
      ],
      "id": "a1fa185c-2490-4af6-8309-72073ccfd7dd",
      "name": "Read_State_File",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// parse_state_file node\nconst senderId = $('Normalize_Data').first().json.senderId\nconst senderMessage= $('Normalize_Data').first().json.senderMessage\n\nlet rawAllStates = $json || null;\nlet userAllStates = {};\nlet timestampDiff;\n\nconst now = new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" })\n\n\ntry {\n  userAllStates = rawAllStates[senderId];\n  timestampDiff = toPH(now) - toPH(rawAllStates[senderId].conversation.at(-1).timestamp);\n} catch(e) {\n  userAllStates = null; // in case file is empty or invalid JSON\n  timestampDiff = new Date().getTime();\n  \n}\n\n\n\nfunction toPH(dateString) {\n  return new Date(\n    new Date(dateString).toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" })\n  );\n}\n\n\n\nreturn [{\n  json: {\n    userAllStates, // chat history of senderIds\n    senderId,     \n    senderMessage, \n    rawAllStates,     // chat history for all senderIds\n    timestampDiff\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        208
      ],
      "id": "13501a48-3630-418f-9703-fcfdd085b389",
      "name": "Parse_state_file"
    },
    {
      "parameters": {
        "jsCode": "// --- Hardcoded Property Listings ---\n// --- Cache_Listing Node ---\n\nconst listings = [\n  {\n    \"id\": \"P001\",\n    \"title\": \"Modern Studio Near BGC\",\n    \"property_type\": \"Condo\",\n    \"location\": \"BGC, Taguig\",\n    \"area\": \"28 sqm\",\n    \"price\": \"18,000 / month\",\n    \"bedrooms\": 0,\n    \"furnished\": \"Fully Furnished\",\n    \"status\": \"Available\",\n    \"description\": \"Cozy studio ideal for young professionals, walking distance to High Street.\",\n    \"photo\": \"link\",\n    \"pagibig_computation\": \"N/A (Rental)\",\n    \"bank_financing\": \"N/A (Rental)\"\n  },\n  {\n    \"id\": \"P002\",\n    \"title\": \"2BR Family Condo in Ortigas\",\n    \"property_type\": \"Condo\",\n    \"location\": \"Ortigas Center, Pasig\",\n    \"area\": \"55 sqm\",\n    \"price\": \"32,000 / month\",\n    \"bedrooms\": 2,\n    \"furnished\": \"Semi-Furnished\",\n    \"status\": \"Available\",\n    \"description\": \"Spacious 2BR unit with city view, perfect for small families.\",\n    \"photo\": \"link\",\n    \"pagibig_computation\": \"N/A (Rental)\",\n    \"bank_financing\": \"N/A (Rental)\"\n  },\n  {\n    \"id\": \"P003\",\n    \"title\": \"Affordable QC Apartment\",\n    \"property_type\": \"Apartment\",\n    \"location\": \"Quezon City\",\n    \"area\": \"35 sqm\",\n    \"price\": \"12,000 / month\",\n    \"bedrooms\": 1,\n    \"furnished\": \"Unfurnished\",\n    \"status\": \"Available\",\n    \"description\": \"Budget-friendly apartment near Commonwealth. Quiet and safe neighborhood.\",\n    \"photo\": \"link\",\n    \"pagibig_computation\": \"N/A (Rental)\",\n    \"bank_financing\": \"N/A (Rental)\"\n  },\n  {\n    \"id\": \"P004\",\n    \"title\": \"Luxury Makati 1BR Suite\",\n    \"property_type\": \"Condo\",\n    \"location\": \"Makati CBD\",\n    \"area\": \"48 sqm\",\n    \"price\": \"45,000 / month\",\n    \"bedrooms\": 1,\n    \"furnished\": \"Fully Furnished\",\n    \"status\": \"Available\",\n    \"description\": \"High-end unit with hotel-like amenities and 24/7 concierge.\",\n    \"photo\": \"link\",\n    \"pagibig_computation\": \"N/A (Rental)\",\n    \"bank_financing\": \"N/A (Rental)\"\n  },\n  {\n    \"id\": \"P005\",\n    \"title\": \"3BR House for Rent in Cavite\",\n    \"property_type\": \"House\",\n    \"location\": \"Imus, Cavite\",\n    \"area\": \"120 sqm\",\n    \"price\": \"25,000 / month\",\n    \"bedrooms\": 3,\n    \"furnished\": \"Unfurnished\",\n    \"status\": \"Occupied\",\n    \"description\": \"Spacious 3BR house with parking and small garden.\",\n    \"photo\": \"link\",\n    \"pagibig_computation\": \"N/A (Rental)\",\n    \"bank_financing\": \"N/A (Rental)\"\n  },\n  {\n    \"id\": \"P006\",\n    \"title\": \"Cozy Studio in Manila\",\n    \"property_type\": \"Condo\",\n    \"location\": \"Ermita, Manila\",\n    \"area\": \"22 sqm\",\n    \"price\": \"14,000 / month\",\n    \"bedrooms\": 0,\n    \"furnished\": \"Fully Furnished\",\n    \"status\": \"Available\",\n    \"description\": \"Clean studio near schools, hospitals, and malls.\",\n    \"photo\": \"link\",\n    \"pagibig_computation\": \"N/A (Rental)\",\n    \"bank_financing\": \"N/A (Rental)\"\n  },\n  {\n    \"id\": \"P007\",\n    \"title\": \"4BR House with Garage\",\n    \"property_type\": \"House\",\n    \"location\": \"Cebu City\",\n    \"area\": \"160 sqm\",\n    \"price\": \"8.5M\",\n    \"bedrooms\": 4,\n    \"furnished\": \"Semi-Furnished\",\n    \"status\": \"For Sale\",\n    \"description\": \"Spacious home perfect for large families, near IT Park.\",\n    \"photo\": \"link\",\n    \"pagibig_computation\": {\n      \"loanable_amount\": \"6,800,000\",\n      \"monthly_30yrs\": \"42,600 / month\",\n      \"interest_rate\": \"6.375%\",\n      \"notes\": \"Estimated Pag-IBIG computation\"\n    },\n    \"bank_financing\": {\n      \"loanable_amount\": \"6,800,000\",\n      \"monthly_20yrs\": \"52,700 / month\",\n      \"interest_rate\": \"7%\",\n      \"notes\": \"Estimated Bank Financing computation\"\n    }\n  },\n  {\n    \"id\": \"P008\",\n    \"title\": \"Makati Penthouse Loft\",\n    \"property_type\": \"Condo\",\n    \"location\": \"Makati Avenue\",\n    \"area\": \"90 sqm\",\n    \"price\": \"14.5M\",\n    \"bedrooms\": 2,\n    \"furnished\": \"Fully Furnished\",\n    \"status\": \"For Sale\",\n    \"description\": \"Premium penthouse loft with city skyline view.\",\n    \"photo\": \"link\",\n    \"pagibig_computation\": {\n      \"loanable_amount\": \"11,600,000\",\n      \"monthly_30yrs\": \"72,700 / month\",\n      \"interest_rate\": \"6.375%\",\n      \"notes\": \"Estimated Pag-IBIG computation\"\n    },\n    \"bank_financing\": {\n      \"loanable_amount\": \"11,600,000\",\n      \"monthly_20yrs\": \"89,900 / month\",\n      \"interest_rate\": \"7%\",\n      \"notes\": \"Estimated Bank Financing computation\"\n    }\n  },\n  {\n    \"id\": \"P009\",\n    \"title\": \"Farm Lot in Laguna\",\n    \"property_type\": \"Lot\",\n    \"location\": \"Bay, Laguna\",\n    \"area\": \"500 sqm\",\n    \"price\": \"1.2M\",\n    \"bedrooms\": \"N/A\",\n    \"furnished\": \"N/A\",\n    \"status\": \"For Sale\",\n    \"description\": \"Ideal farm lot for rest house or weekend retreat.\",\n    \"photo\": \"link\",\n    \"pagibig_computation\": {\n      \"loanable_amount\": \"960,000\",\n      \"monthly_30yrs\": \"6,000 / month\",\n      \"interest_rate\": \"6.375%\",\n      \"notes\": \"Estimated Pag-IBIG computation\"\n    },\n    \"bank_financing\": {\n      \"loanable_amount\": \"960,000\",\n      \"monthly_20yrs\": \"7,400 / month\",\n      \"interest_rate\": \"7%\",\n      \"notes\": \"Estimated Bank Financing computation\"\n    }\n  },\n  {\n    \"id\": \"P010\",\n    \"title\": \"RFO Townhouse in Bulacan\",\n    \"property_type\": \"Townhouse\",\n    \"location\": \"Marilao, Bulacan\",\n    \"area\": \"75 sqm\",\n    \"price\": \"2.3M\",\n    \"bedrooms\": 3,\n    \"furnished\": \"Unfurnished\",\n    \"status\": \"For Sale\",\n    \"description\": \"Ready-for-occupancy townhouse located near major highways.\",\n    \"photo\": \"link\",\n    \"pagibig_computation\": {\n      \"loanable_amount\": \"1,840,000\",\n      \"monthly_30yrs\": \"11,500 / month\",\n      \"interest_rate\": \"6.375%\",\n      \"notes\": \"Estimated Pag-IBIG computation\"\n    },\n    \"bank_financing\": {\n      \"loanable_amount\": \"1,840,000\",\n      \"monthly_20yrs\": \"14,200 / month\",\n      \"interest_rate\": \"7%\",\n      \"notes\": \"Estimated Bank Financing computation\"\n    }\n  }\n]\n\n\n\n// Attach listings to state so next nodes can use it\nconst senderId = $('State Manager').first().json.senderId;\nconst allStates = $('State Manager').first().json.allStates;\nconst recipientId = $('State Manager').first().json.recipientId;\nconst senderMessage = $('Parse_state_file').first().json.senderMessage;\n\n\nreturn [\n  {\n    json: {\n      allStates,\n      senderId,\n      recipientId,\n      senderMessage,      \n      listingAvailable: listings\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        752
      ],
      "id": "354ec4e2-74d1-42d1-b5e1-1c039a828429",
      "name": "Cache_Listing"
    },
    {
      "parameters": {
        "jsCode": "// --- Filter_Listing Node ---\nconst senderId = $input.first().json.senderId;\nconst recipientId = $input.first().json.recipientId;\nconst senderMessage = $input.first().json.senderMessage;\nlet allStates = $input.first().json.allStates;\n\n\nlet state = allStates;\nconst filters = state.filters;\nconst listingAvailable = $input.first().json.listingAvailable;\n\n// Check if at least one filter is set\nconst hasFilters = filters.Property_Type || filters.Location || filters.Budget;\n\nlet filteredListings = [];\n\nif (hasFilters) {\n    filteredListings = listingAvailable.filter(listing => {\n        let match = true;\n\n        if (filters.Property_Type) {\n            match = match && listing.property_type.toLowerCase() === filters.Property_Type.toLowerCase();\n        }\n\n        if (filters.Location) {\n            match = match && listing.location.toLowerCase() === filters.Location.toLowerCase();\n        }\n\n        if (filters.Budget) {\n            match = match && listing.price <= filters.Budget;\n        }\n\n        return match;\n    });\n}\n\n// Array of allowed statuses (case-insensitive)\nconst allowedStatuses = [\"available\", \"for sale\"];\n\n// Filter listings dynamically based on allowedStatuses\n// const availableListings = listingAvailable\n//     .filter(listing => allowedStatuses.includes(listing.status.toLowerCase()))\n//     .map(listing => ({\n//         propertyType: listing.propertyType,\n//         location: listing.location,\n//         price: listing.price\n//     }));\n\n\n\n\n// Save filtered listings in state\nstate.filteredListings = filteredListings;\nallStates = state;\n\nreturn [\n    {\n        json: {\n            allStates,                    \n            senderId,\n            recipientId,\n            senderMessage,\n            filteredListings,\n            availableListings:listingAvailable\n        }\n    }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        752
      ],
      "id": "a62314d8-5fdd-465f-9b07-898793bdeb48",
      "name": "Filter_Listing"
    },
    {
      "parameters": {
        "jsCode": "// --- Prepare Prompt Node ---\nconst senderId = $input.first().json.senderId;\nconst recipienId = $input.first().json.recipientId;\nconst state = $input.first().json.allStates;\nconst filteredListings = $input.first().json.filteredListings || [];\nconst listingsAvailable = $input.first().json.availableListings;\nconst agentName = $('Normalize_Data').first().json.agentName\n\n// Create a prompt for the AI\nconst prompt = `\n# Overview\nYour name is Neriza. An intelligent assistant of ${agentName} in real estate business. Your ONLY job are to detect user intent, reply to a user message and always extract user information before providing property listing details or information ask by a user.\n\nConversation State:\n${JSON.stringify(state)}\n\nListings Match to user:\n${JSON.stringify(filteredListings, null, 2)}\n\nListings Available:\n${JSON.stringify(listingsAvailable, null, 2)}\n\n# Tools\n**Client_Record_Logs** - use this tool to record user related information.\n\n# Rules\n1. Write the final reply to user message.\n2. Always extract user information before providing property listing details or information ask by a user and recorded it to Client_Record_Logs.\n3. Put N/A if not available.\n4. Your answer must be simple, concise and on point in a friendly female tone.\n5. If the user message is in Taglish (mixed tagalog + english) language, your answer must be taglish language also and with po as a sign of respect.\n6. Never disclose any user information.\n\n# Today Date\n${ new Date().toLocaleString(\"en-PH\", { timeZone: \"Asia/Manila\" }) }\n`;\n\nreturn [\n    {\n        json: {\n            allStates:state,\n            senderId,\n            recipienId,\n            prompt,            \n        }\n    }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        752
      ],
      "id": "18ac821f-1abf-4fce-a820-8cc616acd484",
      "name": "AI Prompt Generator"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16cbfc3f-92e5-4f5f-a88a-17913c5e0752",
              "leftValue": "={{ $('State Manager').item.json.stage === \"ai\" || $('State Manager').item.json.stage  === \"ready_for_ai\" }}",
              "rightValue": "ai",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1408,
        944
      ],
      "id": "c199d726-85a1-42da-8547-f977c98720fb",
      "name": "Call_AI"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/upload/drive/v3/files/1mslATmMKb_hUJN7WCiXrEBdoq1UREkwI?uploadType=media\n\n\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.allStates }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2160,
        1216
      ],
      "id": "2e50bf99-683a-4320-91a9-d3d70dcb432f",
      "name": "Quick_Write_State_File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RF5WxSQ0PCIa1gmy",
          "name": "GAS-CONNECT-Google-Drive12DEC2025"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/upload/drive/v3/files/1mslATmMKb_hUJN7WCiXrEBdoq1UREkwI?uploadType=media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.allStates }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3200,
        656
      ],
      "id": "964ce1fd-cc15-48eb-a06c-6fc50e33baa5",
      "name": "Write_State_File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RF5WxSQ0PCIa1gmy",
          "name": "GAS-CONNECT-Google-Drive12DEC2025"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {
          "maxOutputTokens": 2048,
          "temperature": 0.2,
          "topP": 0.8,
          "topK": 50
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2384,
        656
      ],
      "id": "cc449a86-b031-4a7b-b74d-b2e935824c79",
      "name": "Generate_Reply_AI",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "MJgvDptuEhojzQVD",
          "name": "GAS-CONNECT-12DEC2025-Gemini(PaLM)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const senderId = $('AI Prompt Generator').first().json.senderId;\nconst recipientId = $('AI Prompt Generator').first().json.recipienId;\nconst aiMessage = $('Generate_Reply_AI').first().json.content.parts[0].text;\nconst allStates = $('Parse_state_file').first().json.rawAllStates;\n\nlet state = $('AI Prompt Generator').first().json.allStates;\n\nstate.stage = 'ai';\nstate.conversation.push({ from: 'bot', message: aiMessage, timestamp: new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" }) });\n\nallStates[senderId] = state;\n\nreturn [{ json: { stage: state.stage, allStates, senderId, recipientId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        656
      ],
      "id": "049e31f1-4428-43ef-9fe7-e14077c5836c",
      "name": "Update_allStates"
    },
    {
      "parameters": {
        "jsCode": "const senderId = $('State Manager').first().json.senderId;\nlet allStates = $('Parse_state_file').first().json.rawAllStates;\nconst getStage = $('State Manager').first().json.stage;\nconst name = $('State Manager').first().json.name || '';\n\nif (getStage === 'delete'){\n\n  delete allStates[senderId];\n \n  \n} else {\n  \n  allStates[senderId] = $('State Manager').first().json.allStates;\n  \n}\n\n\nreturn [{json:{allStates, senderId, getStage,name}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        1216
      ],
      "id": "cb7e6a6e-bc99-49d8-b93a-0dfa6404774e",
      "name": "Update_Quick_AllStates"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "01591bf1-b6b9-491e-841d-8ced396261cc",
              "leftValue": "={{ $('Parse_state_file').item.json.senderMessage }}",
              "rightValue": "activate_ai",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "53f9dae4-0ceb-4b27-9a8f-cab307b82d10",
              "leftValue": "={{ $('Parse_state_file').item.json.senderMessage }}",
              "rightValue": "hi",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1936,
        304
      ],
      "id": "55c21173-0881-4945-bf13-4b1b524d4dce",
      "name": "activate_ai"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b5d9d1b-d1da-4d85-b97a-5f19ff1682b1",
              "leftValue": "={{ $json.userAllStates.stage }}",
              "rightValue": "stop_ai",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1712,
        208
      ],
      "id": "362faf12-f47b-40ef-ae88-0b1721dc250a",
      "name": "is_AI_Active"
    },
    {
      "parameters": {
        "content": "# From Melvin Portfolio\n## Received Message",
        "height": 560,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "45b01861-1ee9-42a8-ad5c-a40f96085da6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Load the State \n## ACT as AI Memory",
        "height": 560,
        "width": 688,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        0
      ],
      "typeVersion": 1,
      "id": "d63f7c5e-9643-46e9-b844-bb819acbc1e8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Update State\n## Breakdown the information from the state",
        "height": 560,
        "width": 816,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        0
      ],
      "typeVersion": 1,
      "id": "2b165171-4ff9-4394-ae37-e6df89868c8d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Quick Reply \n## A response where AI is not needed",
        "height": 480,
        "width": 2000,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        1056
      ],
      "typeVersion": 1,
      "id": "8db7ae2c-18da-44b0-bd42-c0c6146e088d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# AI Response\n## Where all information is being process and send to AI",
        "height": 496,
        "width": 2000,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        560
      ],
      "typeVersion": 1,
      "id": "45cddb9d-da94-4674-94ce-4091c42cf27e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1RLkDF_PVKWzefHOKDHyl9ndFFLgisT9U_iaZOjCfSGE",
          "mode": "list",
          "cachedResultName": "PORT_DEMO_CLIENT_RECORD_LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RLkDF_PVKWzefHOKDHyl9ndFFLgisT9U_iaZOjCfSGE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RLkDF_PVKWzefHOKDHyl9ndFFLgisT9U_iaZOjCfSGE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "senderId": "={{ $json.senderId }}",
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "Property_Type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Property_Type', ``, 'string') }}",
            "Budget": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Budget', ``, 'string') }}",
            "Location": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location', ``, 'string') }}",
            "Agenda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Agenda', `The intent of the user.`, 'string') }}",
            "Appointment_Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Appointment_Date', `date format: Dec 5, 2025, 5:31:50 PM`, 'string') }}",
            "Appointment_Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Appointment_Status', ``, 'string') }}",
            "Timestamps": "={{ new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" }) }}"
          },
          "matchingColumns": [
            "senderId"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Property_Type",
              "displayName": "Property_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Agenda",
              "displayName": "Agenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment_Date",
              "displayName": "Appointment_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment_Status",
              "displayName": "Appointment_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamps",
              "displayName": "Timestamps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "senderId",
              "displayName": "senderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2480,
        880
      ],
      "id": "0643746c-0c8d-4f0b-ad55-a7dc1b6a1416",
      "name": "Client_Record_Logs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C6GtwYpIVH0koWFW",
          "name": "GAS-CONNECT-SHEETS-12DEC2025"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RLkDF_PVKWzefHOKDHyl9ndFFLgisT9U_iaZOjCfSGE",
          "mode": "list",
          "cachedResultName": "PORT_DEMO_CLIENT_RECORD_LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RLkDF_PVKWzefHOKDHyl9ndFFLgisT9U_iaZOjCfSGE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RLkDF_PVKWzefHOKDHyl9ndFFLgisT9U_iaZOjCfSGE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2656,
        1200
      ],
      "id": "d5f3b768-68a2-4360-b41d-ca1d24c1d67e",
      "name": "Get_senderId",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C6GtwYpIVH0koWFW",
          "name": "GAS-CONNECT-SHEETS-12DEC2025"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2992,
        1200
      ],
      "id": "6e1f2ff5-ccc3-4c51-b16d-efc3746c9634",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "How can I assist you today?",
        "options": {
          "showWelcomeScreen": true,
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        80,
        224
      ],
      "id": "9c4f6874-c6cf-492e-83f0-6a77731c0d70",
      "name": "From Melvin Portfolio",
      "webhookId": "81e21c32-9a42-49ba-abfd-2a3335cfaac2"
    },
    {
      "parameters": {
        "message": "={{ $json.reply }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        1712,
        1216
      ],
      "id": "8e8c4a4a-a657-45f1-892c-fc5db78875ed",
      "name": "Quick_Reply"
    },
    {
      "parameters": {
        "message": "Done!",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        3184,
        1104
      ],
      "id": "27540253-5c4c-4a2d-8368-c18834cb5dd6",
      "name": "Delete_Reply"
    },
    {
      "parameters": {
        "message": "={{ $json.content.parts[0].text }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        2720,
        656
      ],
      "id": "f7dd0b5f-4e91-475c-a35e-48360aacff72",
      "name": "AI Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1254cdbc-9717-490c-b967-8e97a9e8a27c",
              "leftValue": "={{ $('Update_Quick_AllStates').item.json.getStage }}",
              "rightValue": "delete",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2368,
        1216
      ],
      "id": "ba3dd888-f82c-42c0-85d8-342d252038cf",
      "name": "is_to_delete?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e8f0bd6-2859-413d-bbfe-d5968048d730",
              "leftValue": "={{ $('Get_senderId').item.json.Name.trim().toLowerCase() === $('Update_Quick_AllStates').item.json.name.trim().toLowerCase()}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3184,
        1296
      ],
      "id": "5160de91-87a2-4084-a03d-5edc080e19a4",
      "name": "is_name_found?"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1RLkDF_PVKWzefHOKDHyl9ndFFLgisT9U_iaZOjCfSGE",
          "mode": "list",
          "cachedResultName": "PORT_DEMO_CLIENT_RECORD_LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RLkDF_PVKWzefHOKDHyl9ndFFLgisT9U_iaZOjCfSGE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RLkDF_PVKWzefHOKDHyl9ndFFLgisT9U_iaZOjCfSGE/edit#gid=0"
        },
        "clear": "specificRows",
        "startIndex": "={{ $('Loop Over Items').item.json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3440,
        1280
      ],
      "id": "a6bfd90a-1e4d-480e-b5e0-15683a2e831d",
      "name": "delete_names",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C6GtwYpIVH0koWFW",
          "name": "GAS-CONNECT-SHEETS-12DEC2025"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1dbafa42-11a9-4634-a9ec-bcf8823b089a",
              "leftValue": "={{ $('From Melvin Portfolio').item.json.chatInput }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        224
      ],
      "id": "7782366f-9a3f-4d53-becf-0106df496568",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Normalize_Data": {
      "main": [
        [
          {
            "node": "Read_State_File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Normalize_Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read_State_File": {
      "main": [
        [
          {
            "node": "Parse_state_file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse_state_file": {
      "main": [
        [
          {
            "node": "is_AI_Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State Manager": {
      "main": [
        [
          {
            "node": "Call_AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache_Listing": {
      "main": [
        [
          {
            "node": "Filter_Listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter_Listing": {
      "main": [
        [
          {
            "node": "AI Prompt Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Prompt Generator": {
      "main": [
        [
          {
            "node": "Generate_Reply_AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call_AI": {
      "main": [
        [
          {
            "node": "Cache_Listing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quick_Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quick_Write_State_File": {
      "main": [
        [
          {
            "node": "is_to_delete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate_Reply_AI": {
      "main": [
        [
          {
            "node": "AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update_allStates": {
      "main": [
        [
          {
            "node": "Write_State_File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update_Quick_AllStates": {
      "main": [
        [
          {
            "node": "Quick_Write_State_File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "activate_ai": {
      "main": [
        [
          {
            "node": "State Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is_AI_Active": {
      "main": [
        [
          {
            "node": "State Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "activate_ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client_Record_Logs": {
      "ai_tool": [
        [
          {
            "node": "Generate_Reply_AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get_senderId": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Delete_Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "is_name_found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "From Melvin Portfolio": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quick_Reply": {
      "main": [
        [
          {
            "node": "Update_Quick_AllStates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Response": {
      "main": [
        [
          {
            "node": "Update_allStates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is_to_delete?": {
      "main": [
        [
          {
            "node": "Get_senderId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is_name_found?": {
      "main": [
        [
          {
            "node": "delete_names",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete_names": {
      "main": [
        [
          {
            "node": "Get_senderId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Manila",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "7d3345b2-1a69-4c2c-8800-924b6b8781c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "280aeb97b3dc5b55f0179a211135cfc27754b42a7c838b7e0124e37703f7fde9"
  },
  "id": "KRSqvNOFOerby7pZ",
  "tags": []
}