assets/backup25dec2025/Portfolio_Contact_Form.json
{
  "name": "Portfolio_Contact_Form",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "melvin-portfolio",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://mnfm.cloud",
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        16
      ],
      "id": "36baa572-46c9-4184-88da-fe26a7f7b559",
      "name": "Portfolio_Contact_Form",
      "webhookId": "651b4756-af73-4bf7-81d2-36ce038a2546",
      "credentials": {
        "httpBasicAuth": {
          "id": "leY9Mr45Bn4dwbWJ",
          "name": "PORTFOLIO-CONNECT-12DEC2025"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "gasgasmati@gmail.com",
        "subject": "=New Message from {{ $json.body.source }}",
        "message": "= <div class=\"container\" role=\"article\" aria-labelledby=\"submission-title\">\n               <h1 id=\"submission-title\">New Contact Submission</h1>\n               <p class=\"meta\">A new message was received via the contact form.</p>\n\n               <div class=\"field\">\n                    <div class=\"label\">From: <span class=\"value\">{{ $json.body.name }}</span></div>\n               </div>\n\n               <div class=\"field\">\n                    <div class=\"label\">Email: <span class=\"value\">{{ $json.body.email }}</span></div>\n               </div>\n\n               <div class=\"field\">\n                    <div class=\"label\">Goal: <span class=\"value\">{{ $json.body.goal }}</span></div>\n               </div>\n\n               <div class=\"field\">\n                    <div class=\"label\">Message:</div>\n                    <div class=\"value\">{{ $json.body.message }}</div>\n               </div>\n\n               <p style=\"font-size: 12px; color: #64748b; margin-top: 14px\">Sent on: Sent on: {{ $json.timtestamp }}</p>\n          </div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        192,
        0
      ],
      "id": "11a9d496-c795-4930-a26f-a5af0ff1187c",
      "name": "Send a message",
      "webhookId": "4aa89e53-df56-4f35-bcbd-de0f0ac31602",
      "credentials": {
        "gmailOAuth2": {
          "id": "WUWFcIKbUQR8IDkZ",
          "name": "GAS-CONNECT-GMAIL-12DEC2025"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": \"true\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        384,
        0
      ],
      "id": "93e8c60e-e2cc-44cd-a58c-7c2a58879cec",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2b227aa-862f-41e2-b4ed-c32cb6b1a9d1",
              "leftValue": "={{ $json.body.source }}",
              "rightValue": "melvin-portfolio",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "33608d01-c7fe-47d9-aa08-54819dc42860",
              "leftValue": "={{ $json.headers.origin }}",
              "rightValue": "https://mnfm.cloud",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -272,
        16
      ],
      "id": "60fb09d2-5f2e-4d50-b7e0-fa33e5a712a3",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": \"false\"\n}",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        0,
        208
      ],
      "id": "c3010b37-1b45-413b-b178-ea048181c4e0",
      "name": "Response_Failed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac726d10-2884-4e99-b2dd-908d7b858650",
              "name": "body.name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "96a267e3-ebf5-4500-a43a-1d7a4b5e1e38",
              "name": "body.email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "67aef58e-cb16-4cc1-9202-40ecf7b80057",
              "name": "body.goal",
              "value": "={{ $json.body.goal }}",
              "type": "string"
            },
            {
              "id": "eecdb14b-11c9-497d-8b5d-78e8b9eb6911",
              "name": "body.message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "1827c3f1-bee6-40d1-82f1-617145df8f96",
              "name": "body.source",
              "value": "={{ $json.body.source }}",
              "type": "string"
            },
            {
              "id": "e54487ce-0e87-40c2-96b5-66a6eabd313a",
              "name": "=timtestamp",
              "value": "={{ new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Manila\" }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "d3daa069-5bf6-4a9e-bb56-08e2b1828af4",
      "name": "Normalize Data"
    }
  ],
  "pinData": {},
  "connections": {
    "Portfolio_Contact_Form": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response_Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Manila",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "a5007378-2988-4cb7-9339-2e2ee5d40933",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "280aeb97b3dc5b55f0179a211135cfc27754b42a7c838b7e0124e37703f7fde9"
  },
  "id": "6WB5UXwCPvonjgsL",
  "tags": []
}